<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    {{>header}}
    <p>this site was created with map box and weather stack api</p>
    <img src="img/logo.png" alt="">
    {{>footer}}

</body>
<Script src="js/app.js"></Script>
</html>